* {
    height: 100;
    width: 100;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;

}

#section-1 {
    display: flex;
    margin: 30px auto;
    width: 550px;
    height: 500px;
    color: rgb(0, 127, 85);
    border-radius: 10px;
    border: 2px solid rgb(0, 127, 85);
    justify-content: space-between;
    background-color: rgb(0, 127, 85);
}

.temp {
    padding: 5px;
    background-color: rgb(255, 255, 255);
    border-radius: 8px;

}

.temp h1 {
    font-size: 20px;
    text-shadow: 4px 12px 40px;
}

.temp h3,
h5 {
    font-size: 15px;
    margin-top: 50px;
}

.temp #celsius {
    border-radius: 5px;
    padding: 5px;
    border: 2px solid rgb(0, 127, 85);
    margin-bottom: 10px;
    margin-left: 25px;
}

.temp button {
    background-color: rgb(0, 127, 85);
    color: white;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

.temp button:hover {
    background-color: rgb(80, 187, 149);
    transition: 0.3s ease;
}

.farh {
    color: rgb(255, 255, 255);
    padding: 38px;
}

#result {
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}